name: Pybind11 CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [ assigned, opened, synchronize, reopened ]
  repository_dispatch:
    types: [pybind-wrapper]

jobs:
  linux-build:
    name: Wrapper Linux Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pyversion: ["cp37-cp37m","cp38-cp38"] # "cp36-cp36m",  "cp39-cp39"
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Build the Linux wheels
      run: |
        # must be run in docker, cannot be run as freestanding script for toolchain issues
        # run on old CentOS. but it's CentOS, so it's yum(RPM) not apt. very old glibc. glibc API is back-compatible but not forward. See https://github.com/pypa/manylinux
        # see https://github.com/varunagrawal/docker-images/blob/master/gtsam-manylinux/Dockerfile for an example
        # container, but it does not have some necesssary boost packages --> varunagrawal/gtsam-manylinux:latest
        sudo docker run --rm -e PLAT=manylinux2014_x86_64 -e PYTHON_VERSION=${{ matrix.pyversion }} -v `pwd`:/io quay.io/pypa/manylinux2014_x86_64 /io/build-wheels-linux.sh ${{ matrix.pyversion }}
      
        # cleanup for custom runner
        sudo chown -R $(whoami):$(whoami) .

    - name: Archive wheels
      uses: actions/upload-artifact@v1
      with:
        name: pycolmap-0.0.1-${{ matrix.pyversion }}-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
        path: wheelhouse/pycolmap-0.0.1-${{ matrix.pyversion }}-manylinux2014_x86_64.manylinux_2_17_x86_64.whl

  mac-build:
    name: Wrapper macOS Build
    runs-on: macos-latest
    strategy:
      matrix:
        pyversion: ["python@3.7", "python@3.8", "python@3.9"]
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: Build the macOS wheels
      run: |
        ./build-macos-new.sh ${{ matrix.pyversion }}
    - name: Archive wheels
      uses: actions/upload-artifact@v1
      with:
        name: wheels-macos-${{ matrix.pyversion }}
        path: ./wheelhouse
